.body{
    background: #FFFFFF;
    color: #FFFFFF;
    width: 100%;
   
    
}

.h2{
   
  
    width: 757;
    height: 119;
    color: black;
    font-Size: 50; 
    font-Family: 'PP Monument Extended';
    font-Weight: 800;
    line-Height: 57;
    word-Wrap: break-word;
      
        
}