.con{
    padding-bottom: center ;
    justify-content: center;
    display: flex;
    align-items: center;
  
  
   margin-top: 20px;
  
   }
   .botoflecha{
       width:80px;
       height: 80px;
       border-radius: 50%;
       position: relative;
       justify-content: center;
       transform: translateY(-50%);
       transition: all 0.3s ease;
       cursor: pointer;
       z-index: 1;
       padding-top: center;
   
   
   }
   .btn{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .copy{
  
    display: flex;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
    font-size: 12px;
    flex-direction: row;
    margin-left: 100px;
    color: #FFFFFF;
  }
  
  .redes{
    padding-left: 100px;
    padding: auto;
  
  }
  
  .copyright{
  
    display: flex;
    padding-left: 120px;
  
  }