.Redes{
   
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    font-family: 'Archivo, sans-serif';
    position: relative;
    width: 100px;
   
  

     
}
.icons{
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      float: left;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      padding: 20px;
      justify-content: left;
      width: 200px;   
      justify-content:space-evenly 
}

.contenedor{
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  
}
.link{
  font-size: 20px;
 color: black;
 line-height: normal;
 position:absolute;
 width: 200px;
 font-family: 'Archivo', sans-serif;
 font-size: 15px;
justify-content: space-between;
 padding-top: 10px;
 display: inline-block;
 list-style: none ;
 text-decoration: none;
}

.p{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  display: flex;

}
.icon{
  width: 15px;
  position: relative;
  justify-content: center;
  padding: center;
  align-items: center;



}
.red{
  justify-content: end;
  align-items: end;
  display: flex;
 flex-direction: row;
 padding: 10px;

}
.inst{
  background: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 
  
}
.copy{

  display: flex;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  flex-direction: row;
  margin-left: 20px;
  

}

.copyright{
 display: flex;

 justify-content: left;
}

  .NavBarContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: black;
    font-family: 'Archivo', sans-serif;
    margin-left:  100px;
    padding: 20px;
    height: 200px;
    width: 180px;
  }
  
  
  .NavBarContainer ul {
    width: 250px;
    max-width: 280px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0;
    font-family: 'Archivo', sans-serif;
    
   }
  .NavBarContainer#NavBarContainer ul a{
    text-decoration: none;
    width: 250px;
    justify-content: space-between;
  }
  
  .NavBarContainer ul li {
    
    color: black;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-size: 30px;
    justify-content: space-between;
  }
  
  .NavBarContainer ul li:hover{
    color: black;
    transition: all 150ms;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .NavBarContainer ul #active{
    color: black;
    transform: scale(1.03);
  }
  
  .row{
    display: flex;
    justify-content: left;
    padding-left: 120px;

  }

 