@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Poppins:wght@100;400&display=swap');

.contenedor{
    background-image: url("src/assets/img/Web.png");
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 0rem;
    padding: 0.1rem;
    color: var(--textColor);
    width: 1200px ;
    height:1700px;
    border-top-left-radius: 10;
    border-top-right-radius: 10;
    flex-direction:column;
    padding-left: 120px;
    position: relative;
    }
    .idioma{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: left;
    padding-left: 120px;
    padding-top: 2px;
    
    }
  
.imagen{
  
    justify-content:end;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 120px;
    display: inline-block;
    text-align: center;
}

.button{
    background-color: #000000;
    color: white;
    background: #000000;
    padding-right: 120px;
    margin-right: 120px;
          
     
    }


    .formik {
      min-height: 20vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-left: 50px;
      flex-direction: column;
      background: black;
    }
    
    .formulario {
      min-width: 600px;
      margin-top: 50px;
      background: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     
    }
    
    .formulario > div {
      margin-bottom: 20px;
    }
    
    .formulario label {
      display: block;
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 5px;
      color: #1f1f1f;
    }
    
    .formulario input,
    .formulario textarea {
      font-family: 'Archivo', sans-serif;
      width: 100%;
      border-radius: 5px;
      border: 2px solid #e2e2e2;
      font-size: 18px;
      padding: 10px;
      margin-bottom: 5px;
      color: #1f1f1f;
      
    }
    
    .formulario input:focus {
      outline: none;
      border: 2px solid #0085FF;
    }
    
    .formulario .error {
      color: #e92b2d;
      font-weight: 600;
      font-size: 12px;
    }
    
    .formulario button[type="submit"] {
      display: block;
      background: #0085FF;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      border: none;
      cursor: pointer;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      transition: .3s ease all;
    }
    
    .formulario button[type="submit"]:hover {
      background: #0051ff;
    }
    
    .formulario .exito {
      text-align: center;
      font-size: 14px;
      padding-top: 20px;
      color: #02a802;
    }
    
    .formulario input[type="radio"] {
      width: auto;
    }

.contend{
      
    flex-direction:row;
    display: flex;
    justify-content: left;
    padding-left: 200px;
    padding: 50px;
        
    } 

    .formus{
      display: flex;
      padding-left: 200px;
      padding: 50px;
      opacity: 0.9;
  
    }
    .formuConte{
      background-image: url("src/assets/img/Okey_Web.png");
      width: 1350px;
      height: 650px;
      background: #000000;
    position: relative;
      color: #000000;
      border-radius: 100px;
      padding-left: 100px;
      display: flex;
      
      
    }
    
.img{
    padding-left: 80px;
    width: 300px;
    height: 100px;
    margin-left: 90px;

    }

.flecha{
 
    display: flex;
    padding-left: 130px;
    rotate: 90px;
  }

.btn{

    display: flex;
    border-radius: 50%;
    position: relative;
    color : white;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    flex-direction: row;
    padding-bottom: center;
    rotate: 90px;;
    padding-left: 100px;

  }

.letraspro{

    padding-left: 100px;
    display: flex;
  }

.p{
    color: #FFFFFF;
    font-size: 6px;
    font-family: 'Poppins', sans-serif;
    padding-left: 140px;

  }

.morado{

    padding-left: 130px;
  }

.flechabajo{
    display: flex;
    flex-direction: row;
    color: #803DEA;
    padding-left: 110px;
    width: 30px;
    height: 25px;
  }
    
   
.botoflechas{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 1;
    padding-top: center;
    rotate: 90px;
    transform: scale(-1);
    transform: rotate(90);
    transform: rotate(270deg);
  
  }
    
 #NavBarContainer{
  background-color: #000000;
  display: flex;
  justify-content:left;
  flex-direction: row;
  align-items: left;
  color:#ECF0F1;
  font-family: 'poppins';
  font-style: initial;
  height: 70%;
  font-family: 'Poppins', sans-serif;
  padding: auto;
}
#NavBarContainer{
  background-color: #000000;
  display: flex;
  justify-content:left;
  align-items: left;
  color: #ECF0F1;
  font-family: 'Poppins', sans-serif;
  font-weight: 90;
  height: 10px;
 margin-top: 10px;

}


#NavBarContainer ul {
  width: 200%;
  height: 100%;
  display:grid;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  padding-left: 130px;
  line-height:10rem;

 
 }
#NavBarContainer#NavBarContainer ul a{
 text-decoration: none;
  font-weight:100;
  padding-left: 100px; 
 
  
  
}

#NavBarContainer ul li {
 
  color: #909497;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 150px;
  font-weight: 100;
  padding-inline: 1px;

}

#NavBarContainer ul li:hover{
  color: #FFFFFF;
  transition: all 150ms;
  transform: scale(1.1);
  cursor: pointer;
  padding: 1px 0;
}

#NavBarContainer ul #active{
  color: #FFFFFF;
  transform: scale(1.03);
}  

.flecha{
  
  color: #803DEA;
  margin-top: 10px;
  size: 500px;
 
  
 

}

.flez{
  padding: 70px;
 
}

.p{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.cards{
    width: 1400px;
    height: 800px;
    background:#f3f3f3;
    display: flex;
    padding-left: 20px;
    flex-direction: row;
   
    justify-content:space-evenly;
    border-radius: 50px;
   
}

.card1{

  width: 270px;          
  height: 600px;          
  background: #f3f3f3;       
  
  padding: 20px;
  margin-top: 80px;
 

}

.card{

    width: 270px;          
    height: 600px;          
    background:#000000;       
    border: 1px solid #000;
    padding: 20px;
    margin-top: 80px;
   
  
}
.codigo{
  color: #FFFFFF;
  font-size: 12px;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Archivo', sans-serif;

}

.codigo1{
  color: black;
  font-size: 12px;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Archivo', sans-serif;

}

.barra{
  display: flex;
  padding-left: 20px;
}
.section{
  width: 210px;
  height: 250px;
  background:#FFFFFF ;
padding-left: 20px;
  display: flex;
}

.section1{
  width: 210px;
  height: 250px;
  background:black;
padding-left: 20px;
  display: flex;
}
.lorem1{
  font-size: 14px;
  color: black;
  padding-left: 20px;
   font-weight: 500;
   font-family: 'Poppins', sans-serif;
   padding-top: 20px;
   
}
.vertical{
  display: flex;
  flex-direction: column;
  margin: 80px;
}
.lorem{
  font-size: 14px;
  color: rgb(206, 247, 234);
  padding-left: 20px;
   font-weight: 500;
   font-family: 'Poppins', sans-serif;
   padding-top: 20px;
}


.servi{

  display: flex;
  padding-left: 50px;
  margin-top: 50px;
  

}

.fondo{
  padding-left: 10px;
 size: 2000px;
}

.con{
  padding-bottom: center ;
  justify-content: center;
  display: flex;
  align-items: center;


 margin-top: 20px;

 }
 .botoflecha{
     width:80px;
     height: 80px;
     border-radius: 50%;
     position: relative;
     justify-content: center;
     transform: translateY(-50%);
     transition: all 0.3s ease;
     cursor: pointer;
     z-index: 1;
     padding-top: center;
 
 
 }
 .btn{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .copy{

  display: flex;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100px;
  font-size: 8px;
  flex-direction: row;
  margin-left: 100px;
  color: #FFFFFF;
}

.redes{
  padding-left: 100px;
  padding: auto;

}

.franja{
  display: flex;
  padding-left: 300px;
  flex-direction: row;
  justify-content:space-evenly;
  padding: 100px;
  opacity: 1ram;
  margin: 50px;
 
}
.contact{
  color: white;
  width: 460px;
  height:150px;
  border-radius: 100px;
  border: 1px #FFFFFF solid;
  font-size: 12px;
  font-family: 'Archivo', sans-serif;
  inline-size: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 70px;

}

.sedes{
  color: white;
  width: 460px;
  height:150px;
  border-radius: 100px;
  border: 1px #FFFFFF solid;
  font-size: 12px;
  font-family: 'Archivo', sans-serif;
  inline-size: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  

}

.pp{
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;

}
.copyright{

  display: flex;
  padding-left: 120px;

}


    @media only screen and (max-width: 1400px ) {
	.contenedor{
        width: 100%;
        padding: 10px 0;
	}

 }

 @media only screen and (min-width: 360px   ) {
	.contenedor { 
        width: 100%;
        padding: 10px 0;
     }
      }