.contenedor{
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 0 2rem;
	color: var(--textColor);
    width: 1400px;
    height: 734px;
    background-color: 54we;
    border-top-left-radius: 10;
    border-top-right-radius: 10;
    border-radius: 0px 0px 40px 40px;
    flex-direction:column;
    left: -720px;
    top: -512px;
    }
    
    .h3{
        background: #000000;
        size: 40px;
    }
.img{
    width: 908.44px;
    height: 606px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction:column;
    margin: auto;
    padding: 20px;
    top: 891px;
    left: 182px;
    border-radius: 0px, 0px, 10px, 10px;
   
}

.repro{
    width: 45.5px;
    height: 34.12px ;
    top: 192.28px;
    left: 154.21px ;
    rotate: 90°;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: center;
    
}
    @media only screen and (max-width: 1400px ) {
	.contenedor{
        width: 100%;
        padding: 10px 0;
	}

 }

 @media only screen and (min-width: 360px   ) {
	.contenedor { 
        width: 100%;
        padding: 10px 0;
     }
      }