
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Poppins&display=swap');
.contenedor{
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 0rem;
    padding: 0.2rem;
    color: var(--textColor);
    width: 1200px ;
  
    height:1100px;

    border-top-left-radius: 10;
    border-top-right-radius: 10;

    flex-direction:column;
    }
.imagen{
  
  justify-content:end;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 0px;
  display: inline-block;
  text-align: center;
}

    .ovalo{
      position:absolute;
      display: inline-block;
      justify-content: center;
      display: flex;
      align-items: left;
      padding-top: 48rem;
      padding-left: 300px;
      width: 1250px;
    
    }
    .con{
      flex-direction:row;
      display: flex;
      justify-content: left;
    }
    .idioma{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: left;
    padding-left: 120px;
    padding-top: 2px;
    font-family:   'Archivo', sans-serif;
    font-weight: 100;
    position: relative;
    font-size: 14px;
   
    }
    .img{
      padding-left: 50px;
      width:300px;
      height: 100px;
      margin-left: 90px;
      image-resolution: 1080rem;

    }
    .buttonIdioma{
      background-color: #000000;
      color: white;
      background: #000000;
      padding-right: 35px;
      margin-right: 35px;
      font-family: 'Archivo', sans-serif ;
      font-weight: 100;
      list-style: none;
     
    }

.flecha{
  
  color: #803DEA;
  margin-top: 10px;
  size: 500px;
 
  
 

}

.izquierda{
  color: #803DEA;
  size: 35px;
  height: 200px;
  padding-right: 10px;
  white-space: 2rem;
  
}

.contenido{
  width:920px;
  padding-left: 90px;
 
  margin: 0.5rem;
  margin-left: 50px;
  font-size: 15px;
}
.modal{
  display: flex;
  position:absolute;
  opacity: 0.8px;
  padding-left: 5px;
  margin-top: 70px;
  padding-inline-end: auto;
  padding: 70px;

  

}
.p{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}
#NavBarContainer{
  background-color: #000000;
  display: flex;
  justify-content:left;
  flex-direction: row;
  align-items: left;
  color:#FFFFFF;
  font-family: 'poppins';
  font-style: initial;
  height: 1200px;
  padding-left: 100px;
  position: relative;
  font-family: 'Archivo', sans-serif;
}
#NavBarContainer{
  background-color: #000000;
  display: flex;
  justify-content:left;
  align-items: left;
  color: #FFFFFF;
  font-family: 'Archivo', sans-serif;
  height: 30px;
  margin-left:  100px;
}


#NavBarContainer ul {
  width: 100%;
  max-width: 750px;
  display:grid;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 2px 0;
  font-family: 'Archivo', sans-serif;
  
 }
#NavBarContainer#NavBarContainer ul a{
  text-decoration: none;
}

#NavBarContainer ul li {
  
  color: #909497;
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-size: 150px;
}

#NavBarContainer ul li:hover{
  color: #FFFFFF;
  transition: all 150ms;
  transform: scale(1.1);
  cursor: pointer;
}

#NavBarContainer ul #active{
  color: #FFFFFF;
  transform: scale(1.03);
}

.repro{
    width: 45.5px;
    height: 34.12px ;
    top: 192.28px;
    left: 154.21px ;
    rotate: 90°;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: center;
    
}
    @media only screen and (max-width: 1400px ) {
	.contenedor{
        width: 100%;
        padding: 10px 0;
	}

 }

 @media only screen and (min-width: 360px   ) {
	.contenedor { 
        width: 100%;
        padding: 10px 0;
     }
      }